@font-face {
  font-family: FontAwsome;
  src: url(/component/fonts/fa-regular-400.ttf);
}
@font-face {
  font-family: iranyekanwebbold;
  src: url(/component/fonts/iranyekanwebbold.ttf);
}
@font-face {
  font-family: IranSansWeb;
  src: url(/component/fonts/IRANSansWeb.ttf);
}