@import url(/assets/css/font.css);
body {
  direction: rtl;
  text-align: right;
  font-family: "IRANSansWeb";
  header {
    .logo {
      display: flex;
      margin-top: 30px;
      a {
        img {
          width: 95px;
          position: relative;
          bottom: 11px;
          margin-left: 10px;
        }
      }
      .logo-name {
        h1 {
          font-size: 24px;
          font-weight: 600;
          color: #1470e2;
        }
      }
    }
    .contact {
      display: flex;
      float: left;
      margin: 20px 0;
      align-items: baseline;
      .phone {
        font-size: 17px;
        margin-right: 30px;
        i {
          font-size: 22px;
          margin-right: 5px;
          color: #1470e2;
        }
      }
      .location {
        margin-right: 30px;
        font-size: 17px;
        i {
          color: #1470e2;
          font-size: 28px;
          margin-right: 5px;
        }
      }
      button {
        margin-right: 30px;
        background: #1470e2;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
      }
    }
    nav {
      background: #1470e2;
      width: 100%;
      padding: 7px 242px!important;
      ul.navbar-nav {
        margin: 0;
        padding: 0;
        margin-left: auto;
        li.nav-item {
          a.nav-link {
            font-weight: 500;
            color: #fff;
            margin: 0 5px;
            font-size: 17px;
          }
        }
      }
    }
  }
  .navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
  }
  section.banner {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 43%, rgba(0, 0, 0, 0.7) 80%), url("../image/20240221_201350_1679046816.jpg") !important;
    height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .banner-title {
      position: absolute;
      top: 37%;
      right: 55%;
      text-align: center;
      p {
        font-size: 37px;
        color: #fff;
        font-weight: 700;
      }
      span {
        color: #fff;
      }
      button {
        i {
          position: relative;
          top: 2px;
        }
      }
    }
  }
  section.cards {
    position: relative;
    bottom: 75px;
    .card{
      transition: all .7s;
      .card-body {
        padding: 30px 20px;
        box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.3);
        h4.card-title {
          font-size: 20px;
        }
        p.card-text {
          font-size: 15px;
        }
        a {
          font-size: 15px;
        }
      }
    }
    .card:hover {
      transform: translate(0px, -50px);
    }
  }
  section.about-us {
    background-color: #f8f8f8;
    padding: 50px 0 125px 0;
    h4 {
      font-size: 30px;
      font-weight: 600;
      color: #1470e2;
      margin: 0;
      line-height: 43px;
    }
    .underline {
      border-bottom: 5px solid #1470e2;
      width: 220px;
      margin-bottom: 34px;
      margin-top: 25px;
      position: relative;
      left: 8px;
    }
    p {
      font-size: 16px;
      margin: 40px 0 0 50px;
    }
    img {
      width: 94%;
      float: left;
      border-radius: 5px;
      height: 98%;
    }
    button {
      font-size: 17px;
      padding: 0px 73px;
    }
  }
  .fromRight {
    animation-name: fromRight;
    animation-duration: 2s;
  }
  @keyframes fromRight {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  .fromLeft {
    animation-name: fromLeft;
    animation-duration: 2s;
  }
  @keyframes fromLeft {
    0% {
      transform: translateX(-120px);
      opacity: 0;
    }
    100% {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  section.counters {
    background: url(../image/20240221_195940_248584440.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    .counters {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 60px 0;
      .counter {
        border-radius: 3px;
        padding: 50px 70px;
        margin: 0px 30px 20px;
        .counter-icon {
          font-size: 40px;
        }
        .counter-value {
          font-size: 45px;
          font-weight: 900;
        }
        .counter-value:after {
          content: "+";
        }
      }
    }
  }
  section.features {
    margin: 139px 121px 90px;
    .features-title {
      text-align: center;
      color: #006bc0;
      font-weight: 900;
      margin-bottom: 27px;
    }
    .features-text {
      margin: 0 95px 95px 95px;
      text-align: center;
      color: #575757;
    }
    hr {
      width: 92%;
    }
    .content-right:hover, .content-left:hover {
      border-right: 5px solid #f0b323;
      padding-right: 25px;
      top: -10px;
      position: relative;
      transition: all .9s;
      border-radius: 2px;
      button {
        display: block;
      }
    }
    .content-right, .content-left {
      margin: 50px;
      h4 {
        color: #006bc0;
        margin-bottom: 13px;
        font-weight: 700;
        font-size: 22px;
      }
      p {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        margin: 0;
      }
      a {
        outline: none;
        text-decoration: none;
        button {
          display: none;
          margin-top: 10px;
          color: #154997;
        }
      }
    }
    img {
      width: 106%;
      border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
      height: 390px;
      transition: all .9s;
    }
    img:hover {
      border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
    }
  }
  section.resumes {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFEFEF;
    padding: 80px 0 100px;
    .slide-container {
      max-width: 1321px;
      width: 100%;
      padding: 40px 0;
      .slide-content {
        margin: 0 50px;
        overflow: hidden;
        border-radius: 25px;
        .card {
          border-radius: 25px;
          background-color: #FFF;
          .image-content,
          .card-content {
           display: flex;
           flex-direction: column;
           align-items: center;
           padding: 10px 14px;
          }
          .image-content {
            position: relative;
            row-gap: 5px;
            padding: 43px 0;
            .overlay {
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 100%;
              background-color: #4070F4;
              border-radius: 25px 25px 0 25px;
            }
            .overlay::before,
            .overlay::after {
              content: '';
              position: absolute;
              right: 0;
              bottom: -40px;
              height: 40px;
              width: 40px;
              background-color: #4070F4;
            }
            .overlay::after{
              border-radius: 0 25px 0 0;
              background-color: #FFF;
            }
            .card-image{
              position: relative;
              height: 170px;
              width: 170px;
              border-radius: 50%;
              background: #FFF;
              padding: 3px;
            }
            .card-image .card-img{
              height: 100%;
              width: 100%;
              object-fit: cover;
              border-radius: 50%;
              border: 4px solid #4070F4;
            }
          }
          .card-content {
            .name{
              font-size: 21px;
              font-weight: 500;
              color: #000;
              margin: 15px 0 10px;
            }
            span {
              margin: 6px 0 20px;
              border-bottom: 2px solid #E03A3E;
              padding-bottom: 8px;
            }
            .description{
              font-size: 14px;
              color: #707070;
              text-align: center;
            }
            .button{
              border: none;
              font-size: 16px;
              color: #FFF;
              padding: 8px 16px;
              background-color: #4070F4;
              border-radius: 6px;
              margin: 14px;
              cursor: pointer;
              transition: all 0.3s ease;
            }
            .button:hover{
              background: #265DF2;
            }
          }
        }
      }
    }
  }
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  section.comments {
    background-color: #1470E2;
  }
  section.gallery {
    margin: 0 142px;
    h2 {
      color: #004677;
      font-weight: 500;
    }
    .celebrations {
      border-radius: 200%;
      width: 95%;
      position: relative;
      border: 6px solid ;
      background: 
      linear-gradient(#fff, #fff) padding-box,
      linear-gradient(90deg, #090979, #1470E2 -23%, #01c5ec 90%) border-box;
      color: #313149;
      border: 6px solid transparent;
      border-radius: 100%;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 35px;
      .celebration-img {
        height: 255px;
        border-radius: 131%;    
        background: rgba(0, 0, 0, 0.5);  
        background: url(../image/Screenshot\ 2024-02-09\ 184416.png) top center !important;
        background-position: center;
        background-size: cover;
        background-size: 100%!important;
        background-repeat: no-repeat;
        filter: brightness(0.7);
        transition: all ease-in-out .5s;
      }
      a {
        position: absolute;
        color: #fff;
        font-size: 25px;
        top: 42%;
        right: 36%;
        text-decoration: none;
        transition: all ease-in-out .5s;
      }
    }
    .celebrations:hover .celebration-img {
      filter: brightness(1);
      transform: scale(1) rotate(6deg);
      background-size: 340px!important;
    }
    .celebrations:hover a {
      color: azure;
      top: 78%;
    }
  }
  section.forms {
    margin-top: 150px;
    padding: 50px 0;
    background-color: #1470E2;
    h2 {
      margin-bottom: 50px;
    }
    .form-icon {
      font-size: 40px;
      margin: 10px 0;
    }
    .form-title {
      font-size: 20px;
      padding: 0 0 10px;
      border-bottom: 5px solid #E03A3E;
      margin: auto;
      width: 183px;
    }
  }
  section.news {
    margin: 30px 0;
    .news-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 30px 0;
      h4 {
        font-size: 25px;
        color: #004677;
        border-bottom: 4px solid #E03A3E;
        padding: 20px 0;
        font-weight: 600;
      }
      a {
        font-size: 19px;
        box-shadow: none;
        padding: 7px 46px;
        border-image: linear-gradient(145deg, #090979 11%, #00d4ff 100%) 16;
      }
      a.btn-news {
        width: 180px;
        height: 50px;
        background: 
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(90deg, #020024 , #090979 -54%, #00d4ff 75%) border-box;
        color: #313149;
        border: 2px solid transparent;
        border-radius: 6px;
      }
      a.btn-news:hover {
        background-image: linear-gradient(90deg, #004677 6%, #00d4ff 100%);
        color: #fff;
      }
    }
    .blog {
      img {
        width: 100%;
        border-radius: 2px;
        margin-bottom: 23px;
      }
      a.blog-title {
        margin-bottom: 6px;
        display: block;
        font-size: 23px;
        color: #004677;
        font-weight: 600;
        text-decoration: none;
      }
      .blog-meta {
        margin-bottom: 22px;
        font-size: 15px;
        font-style: italic;
        span.author {
          color: #E03A3E;
        }
      }
      a.btn-blog {
        margin-top: 23px;
        display: block;
        text-decoration: none;
        color: #000;
      }
      a.btn-blog:before {
        content: "";
        background-color: #000;
        height: 1px;
        width: 40px;
        display: inline-block;
        margin-left: 10px;
        position: relative;
        bottom: 2px;
      }
      a.btn-blog:hover {
        color: #E03A3E;
      }
      a.btn-blog:hover:before {
        background-color: #E03A3E;
      }
    }
  }
  footer {
    margin-top: 95px;
    background-color: #2f3f54;
    padding: 50px 0 0px;
    .about-school {
      p {
        font-size: 14px;
        margin-left: 40px;
      }
    }
    ul.link {
      padding: 0;
      margin-bottom: 40px;
      li {
        margin: 15px 0;
        color: #FFF;
        a {
          color: #fff;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
    ul.contact-us {
      list-style: none;
      padding: 0;
      li {
        margin: 15px 0;
        a {
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          i {
            margin-left: 9px;
            font-size: 17px;
          }
        }
      }
    }
    ul.list-inline {
      padding-top: 10px;
      li.list-inline-item {
        a {
          color: #fff;
          text-decoration: none;
          font-size: 14px;
          i {
            font-size: 26px;
          }
        }
      }
    }
    #map {
      height: 200px;
      margin: 37px 30px 0 0;
      border-radius: 5px;
    }
    .mapboxgl-ctrl-bottom-left {
      display: none;
    }
    .mapboxgl-ctrl-bottom-right {
      display: none;
    }
    .footer-copyright {
      background-color: #1F2937;
      padding: 23px 0 6px;
      p {
        color: #9CA3AF ;
        font-size: 13px;
        a {
          color: #fff;
        }
      }
    }
  }
}